@model AvisFormation.WebUi.Models.FormationAvecAvisViewModel
@{
    ViewBag.Title = "DetailsFormations";
}

<h2>DetailsFormations</h2>

<div> <span> Nom : </span><span> @Model.Nom</span></div>
<div> <span> URL : </span><span> @Model.Url</span></div>
<div> <span> Nom seo : </span><span> @Model.NomSeo</span></div>
<div> <span> Description : </span><span> @Model.Description</span></div>
@if (Model.Note != 0)
{
    <div> <span> Note : </span><span> @Model.Note</span></div>
}
else
{
    <div> <span> Note : </span><span> Sans note !</span></div>
}
<div> <span> Nombre d'avis : </span><span> @Model.NombreAvis</span></div>
@foreach (var avis in Model.Avis)
{
    <hr />
    <div> <span>Nom : @avis.Nom</span> </div>
    <div> <span>Commontaire: @avis.Description</span> </div>
    <div> <span>Note: @avis.Note</span> </div>
}
@Html.ActionLink("Ajouter un avis", "AjouterUnAvis", "Avis", new { nomSeo = Model.NomSeo }, new { @class = "btn btn-primary mb-2" })
@Html.ActionLink("Retour","ToutesLesFormations","Formation", new { nomSeo= Model.NomSeo}, new { @class= "btn btn-primary mb-2" })

<link href="~/Content/font-awesome.css" rel="stylesheet" />